<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrewDay</title>
</head>
<body>
<p>Hi,</p>

<p>We have received a request to change your password at BrewDay Platform. Please, click <a href="{{ protocol}}://{{ domain }}{% url 'core:reset_password' uidb64=uid token=token %}">here</a> to change your password or just copy and paste the link below in your browser:</p>

{{ protocol}}://{{ domain }}{% url 'core:reset_password' uidb64=uid token=token %}

In case you have not requested desconsider this e-mail.

Best regards,

BrewDay Staff
</body>
</html>