<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrewDay</title>
</head>
<body>
<p>Hi <b>{{ user.profile.name }}</b>,</p>

<p>Welcome to BrewDay platform. We highly recommend you to visit your profile and start managing your recipes and ingredients for the next batch.</p>

<p>Feel free also to check the various recipes available in our platform.</p>

<p>You can login in our account by using your email ({{ user.email }}) or username ({{ user.username }}).</p>

<p>Best regards,</p>

<p>BrewDay Staff</p>
</body>
</html>
