<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrewDay</title>
</head>
<body>
Hi {{ user.profile.name }},

Welcome to BrewDay platform. We highly recommend you to visit your profile and start managing your recipes and ingredients for the next batch.

Feel free also to check the various recipes available in our platform.

You can login in our account by using your email ({{ user.email }}) or username ({{ user.username }}).

Best regards,

BrewDay staff
</body>
</html>
