{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Edit Equipment
{% endblock %}

{% block container %}

    {% include 'equipments/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container uk-margin-large-bottom">
            {% include '_includes/app_title_section.html' with title='Edit Equipment' %}

            <div class="uk-grid">
                <div class="uk-width-1-2">
                    <form method="post">
                        {% csrf_token %}

                        <div class="uk-grid">
                            <div class="uk-width-1-4@s ">
                                {% render_field form.equipment class='uk-input' placeholder=form.equipment.label %}
                                {% for error in form.equipment.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-6@s">
                                {% render_field form.quantity class='uk-input' placeholder=form.quantity.label %}
                                {% for error in form.quantity.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-6@s">
                                {% render_field form.volume_capacity class='uk-input' placeholder=form.volume_capacity.label %}
                                {% for error in form.volume_capacity.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                        </div>

                        {% if form.quantity.errors %}
                            <div class="uk-grid">
                                <div class="uk-width-1@s">
                                    {% for error in form.quantity.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="uk-width-1-2@s uk-grid-margin uk-margin-bottom">
                            <button class="uk-button uk-button-default uk-width-1-1 uk-grid-margin">Update</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
