{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | My Equipments
{% endblock %}

{% block container %}
    {% include 'equipments/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand:true"
         style="box-sizing:border-box;">
        <div class="uk-container uk-margin-large-bottom">
            <div class="uk-grid-medium uk-margin-top">
                <div class="uk-block">
                    <h4>My Equipments</h4>
                </div>

                {% include '_includes/message_box.html' %}
            </div>

            {% include 'equipments/_list.html' %}
        </div>
    </div>

{% endblock %}


