{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | New Equipment
{% endblock %}

{% block container %}
    {% include 'equipments/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand:true"
         style="box-sizing: border-box;">
        <div class="uk-container uk-margin-large-bottom">
            <div class="uk-grid-medium uk-margin-top">
                <div class="uk-block">
                    <h4>New Equipment
                        <a uk-icon="icon:plus-circle" class="uk-margin-top plus-new-user-equipment-form"></a>
                    </h4>
                </div>

                {% include '_includes/message_box.html' %}
                {% include '_includes/form_error_box.html' %}
            </div>

            <div class="uk-grid">
                <div class="uk-width">
                    <form method="post">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                            <div class="uk-grid uk-margin-small-top">
                                <div class="uk-width-1-4@s ">
                                    {% render_field form.equipment class='uk-input' placeholder=form.equipment.label %}
                                    {% for error in form.equipment.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="uk-width-1-6@s">
                                    {% render_field form.quantity class='uk-input' placeholder=form.quantity.label %}
                                    {% for error in form.quantity.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="uk-width-1-6@s">
                                    {% render_field form.volume_capacity class='uk-input' placeholder=form.volume_capacity.label %}
                                    {% for error in form.volume_capacity.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="uk-width-1-6@s">
                                    <a uk-icon="icon:minus-circle"
                                       class="uk-margin-top minus-new-user-equipment-form"></a>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-row uk-grid uk-margin-small-top" id="empty-row" hidden>
                            <div class="uk-width-1-4@s ">
                                {% render_field formset.empty_form.equipment class='uk-input' placeholder=formset.empty_form.equipment.label %}
                                {% for error in formset.empty_form.equipment.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-6@s">
                                {% render_field formset.empty_form.quantity class='uk-input' placeholder=formset.empty_form.quantity.label %}
                                {% for error in formset.empty_form.quantity.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>


                            <div class="uk-width-1-6@s">
                                {% render_field formset.empty_form.capacity class='uk-input' placeholder=formset.empty_form.capacity.label %}
                                {% for error in formset.empty_form.capacity.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-6@s">
                                {% render_field formset.empty_form.unit class='uk-input' placeholder=formset.empty_form.unit.label %}
                                {% for error in formset.empty_form.unit.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-6@s">
                                <a uk-icon="icon:minus-circle" class="uk-margin-top minus-new-user-equipment-form"></a>
                            </div>
                        </div>

                        <div class="uk-width-1-6@s uk-grid-margin uk-margin-bottom">
                            <button class="uk-button uk-button-default uk-width-1-1 uk-grid-margin">Add (<span
                                    id="numberOfEquipments">1</span>) Equipments
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'custom/js/more-equipments.js' %}"></script>
{% endblock %}
