/* ========================================================================
   Landing Page
 ========================================================================== */

.bg-landing-page{
	background-size: cover;
    height: 1080px;
    position: fixed;
    width: 2000px;
}

.info-landing-page {
	padding: 200px 0;
  text-align: center;
}

.info-landing-page h2{
	color: #FFF;
}

.info-landing-page h5{
	color: #FFF;
	margin-top: 10px;
}

.info-landing-page a{
	color: #FFF;
}

.info-landing-page .uk-button-default{
	border: none;
}

/* ========================================================================
   General
 ========================================================================== */


body{
	font-family: 'Saira Semi Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Saira Semi Condensed', sans-serif;
}

/* ========================================================================
   Login
 ========================================================================== */


.form-login{
	padding: 6rem;
}

.logo img{
	width: 300px;
}

.logo {
    padding: 2em;
}

.header-form{
	text-align: center;
}

.header-form h2{
	font-weight: bold;
	color: #3c0014;
}

.remember-password {
    text-align: center;
}

.create-account{
	text-align: center;
	padding-top: 20px;
}

.create-account a{
	font-weight: bold;
}

.bg-login img{
	position: fixed;
}

.uk-button-default {
    background-color: #ffc30f;
    color: #fff;
    border: 1px solid #e5e5e5;
    padding: 5px 0;
    font-weight: bold;
}

.uk-button-default:hover {
    background-color: #c7980b;
    color: #fff;
}

.uk-input{
	height: 50px;
}

.uk-link, a{
	color: #3c0014;
	font-weight: bold;
}

.uk-link, a:hover{
	color: #ffc30f;
	text-decoration: none;
}

/* ========================================================================
   Menu
 ========================================================================== */

 .avatar img{
 	height: 35px;
    width: 35px;
    border-radius: 50%;
 }

 .avatar{
 	padding-right: 20px;
 }

 .uk-navbar-container.uk-sticky.uk-sticky-fixed{
 	padding: 12px 0;
 }

 .menu-profile span{
 	padding-right: 10px
 }

.link-menu-profile i{
	float: left;
    padding-right: 10px;
}

.link-menu-profile li{
	padding-bottom: 20px;
}

.link-menu-profile a{
	color: #333;
	font-weight: normal;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #3c0014;
}

.uk-dropdown {
    min-width: 270px;
}

.info-profile{
	padding-bottom: 30px;
}

p.uk-comment-meta.uk-margin-remove-top{
	margin: 0;
}

span.arrow-profile{
	color: #fff;
}

.uk-logo {
    color: #fff;
}

.uk-navbar-nav>li>a {
    color: #fff;
    text-transform: none;
}

.tab{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0;
    list-style: none;
    position: relative;
    margin-bottom: 0;
}

.tab a{
    display: block;
    text-align: center;
    padding: 5px 10px;
    color: #999;
    border-bottom: 1px solid transparent;
    font-size: .875rem;
    text-transform: uppercase;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

.tab li{
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    padding-left: 20px;
    position: relative;
}

.dashboard-header li.uk-active a{
    border-color: #ffc30f;
    color: #333;
}

.dashboard-subnav li.uk-active a {
    color: #333;
}

.dashboard-subnav ul.tab li {
    border-bottom: 1px solid #f2f3f4;
}

.nav-dropdown {
    width: 100px !important;
}

/* ========================================================================
   Pages
 ========================================================================== */

.dashboard-header {
    background: #f5f8fa;
}

.title-page h2 {
    margin-bottom: 30px;
}

.breadcrumb ul{
	float: right;
    padding-top: 20px;
}

.uk-tab {
    margin-bottom: 0;
}

.alter h4{
	margin-bottom: 0;
	margin-top: 0;
}

.uk-tab>.uk-active>a {
    border-color: #ffc30f;
}

.uk-card-header{
    background: url("../images/bg-profile.jpg");
}

.box-profile {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.abk {
    margin-bottom: 1.5rem !important;
}

.blf .bg-profile {
    height: 50px;
}

.bg-profile {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
}

.arx {
    text-align: center;
}

.profile-avatar {
    max-width: 100px;
    margin-top: -55px;
    border: 3px solid #ffc30f;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-profile h4{
    margin-top: 20px;
}

body.content-profile{
    background: #f5f8fa;
}

.uk-section-default {
    background: none;
}

.bli {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #d4dbe0;
}

.links-profile {
    list-style: none;
    padding: 0;
}

.bli:last-child {
    border-right: 0;
}

.box-profile h6{
    margin-bottom: 0;
}

.uk-button-primary {
    background: none;
    margin-right: 10px;
    text-transform: none;
    color: #ffc30f;
}

.uk-button-primary:hover {
    background: none;
    color: white;
}

.bg-index{
    position: fixed;
}

.uk-logo img{
    padding-left: 14px;
}

.recipe-card {
    background-color: #FFE699;
    cursor: pointer;
}

.uk-list-inline {
    padding: 0;
    margin: 0;
}

.uk-list-inline > li {
    list-style: none;
    display: inline-block;
}