{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>{% block title %}BrewDay!{% endblock %}</title>

    {% block base_font %}
        <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
    {% endblock %}

    {% block base_css %}
        <link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}"/>
    {% endblock %}

    {% block custom_css %}
        <link rel="stylesheet" href="{% static 'custom/general/css/style.css' %}"/>
    {% endblock %}
</head>
<body>
{% block nav %}
    {% include '_includes/nav.html' %}
{% endblock %}

{% block container %}
    <div class="uk-grid">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra %}
    <!-- Menu Responsivo Modal -->
    <div id="tm-mobile" class="uk-modal-full uk-modal" uk-modal="">
        <div class="uk-modal-dialog uk-modal-body uk-text-center uk-flex" uk-height-viewport=""
             style="box-sizing: border-box; min-height: 100vh; height: 100vh;">
            <button class="uk-modal-close-full uk-close uk-icon" type="button" uk-close=""></button>
            <div class="uk-margin-auto-vertical uk-width-1-1">
                <div class="uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-first-column">
                        <div class="uk-panel">
                            <ul class="uk-nav uk-nav-primary uk-nav-center">
                                <li><a href="{% url 'core:app' %}">Home</a></li>
                                <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_js %}
    <script src="{% static 'jquery/1.12.4/jquery.min.js' %}"></script>
    <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'uikit/js/uikit-icons.min.js' %}"></script>
{% endblock %}

{% block custom_js %}
{% endblock %}
</body>
</html>