{% load static %}

<div class="tm-header uk-visible@m" uk-header="">
    <div class="uk-navbar-container uk-sticky uk-sticky-fixed uk-active uk-navbar-sticky uk-sticky-below">
        <div class="uk-container">
            <nav class="uk-navbar" uk-navbar="{'align':'left'}">
                <div class="uk-navbar-left">
                    <a href="{% url 'core:app' %}" class="uk-logo">
                        <img src="images/logointerna.png" alt="Brewday">
                        <img src="images/logointerna.png" class="uk-logo-inverse" alt="Brewday">
                    </a>
                </div>

                <div class="uk-navbar-right">
                    <a class="uk-button uk-button-primary" href="#">Suggest me a beer!</a>
                    <div class="menu-profile">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link"
                           aria-expanded="false">
								<span class="avatar avatar-online">
                                    {% if user.profile.photo %}
                                        <img src="{{ user.profile.photo.url }}" alt="avatar">
                                    {% else %}
                                        <img src="{% static 'custom/general/img/avatar.png' %}" alt="avatar">
                                    {% endif %}
                                    <span class="arrow-profile" uk-icon="icon: chevron-down"></span>
									<div uk-dropdown="animation: uk-animation-slide-top-small; duration: 1000">
										<div class="uk-grid-medium uk-flex-middle info-profile" uk-grid>
											<div class="uk-width-auto">

                                                {% if user.profile.photo %}
                                                    <img class="uk-comment-avatar"
                                                         src="{{ user.profile.photo.url }}" width="80"
                                                         height="80" alt="">
                                                {% else %}
                                                    <img class="uk-comment-avatar"
                                                         src="{% static 'custom/general/img/avatar.png' %}" width="80"
                                                         height="80" alt="">
                                                {% endif %}

											</div>
											<div class="uk-width-expand">
												<p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset"
                                                                                                   href="#">Logged as</a></p>
												<h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                                                                                                 href="#">{{ user.profile }}</a></h4>
											</div>
										</div>
										<ul class="uk-nav uk-dropdown-nav">
											<div class="link-menu-profile">
												<li>
													<i uk-icon="icon: user"></i>
													<a href="{% url 'accounts:profile' %}">
														<span>Profile</span>
													</a>
												</li>
                                                <li>
													<i uk-icon="icon: file"></i>
													<a href="{% url 'recipes:my_recipes' %}">
														<span>Recipes</span>
													</a>
												</li>
                                                <li>
													<i uk-icon="icon:table"></i>
													<a href="{% url 'ingredients:my' %}">
														<span>My Ingredients</span>
													</a>
												</li>
												<li>
													<i uk-icon="icon: sign-out"></i>
													<a href="{% url 'core:logout' %}">
														<span>Logout</span>
													</a>
												</li>
											</div>
										</ul>
									</div>
								</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    {% url 'core:app' as app_url %}

    {% if not request.path == app_url %}
        <div class="dashboard-header">
            <div class="uk-container">
                <div class="uk-grid uk-grid-large" uk-grid="">
                    <div class="uk-width-expand@m uk-first-column">
                        <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                            <div class="menu-tabs">
                                <ul class="tab">

                                    {% url 'accounts:profile' as profile_url %}
                                    {% url 'accounts:profile_password' as profile_password_url %}
                                    {% url 'accounts:profile_email' as profile_email_url %}
                                    {% url 'recipes:new' as new_recipe_url %}
                                    {% url 'recipes:my_recipes' as my_recipes_url %}
                                    {% url 'ingredients:new' as new_ingredient_url %}
                                    {% url 'ingredients:my' as my_ingredients_url %}
                                    {% url 'equipments:my' as my_equipments_url %}
                                    {% url 'equipments:new' as new_equipments_url %}

                                    <li class="{% if profile_url == request.path or profile_password_url == request.path or profile_email_url == request.path %}uk-active{% endif %}">
                                        <a href="{{ profile_url }}">Profile</a>
                                    </li>
                                    <li class="{% if new_recipe_url == request.path or my_recipes_url == request.path %}uk-active{% endif %}">
                                        <a href="{{ my_recipes_url }}">Recipes</a>
                                    </li>
                                    <li class="{% if new_ingredient_url == request.path or my_ingredients_url == request.path %}uk-active{% endif %}">
                                        <a href="{{ my_ingredients_url }}">My Ingredients</a>
                                    </li>

                                    <li class="{% if new_equipments_url  == request.path or my_equipments_url == request.path %}uk-active{% endif %}">
                                        <a href="{{ my_equipments_url }}">My Equipments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="tm-header-mobile uk-hidden@m">
    <nav class="uk-navbar-container uk-navbar" uk-navbar="">
        <div class="uk-navbar-center">
            <a class="uk-navbar-item uk-logo" href="#">
                <img src="images/logointerna.png" class="uk-responsive-height" alt="Brewday">
            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" href="#tm-mobile" uk-toggle="">
                <div uk-navbar-toggle-icon="" class="uk-navbar-toggle-icon uk-icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1">
                        <rect y="9" width="20" height="2"></rect>
                        <rect y="3" width="20" height="2"></rect>
                        <rect y="15" width="20" height="2"></rect>
                    </svg>
                </div>
            </a>
        </div>
    </nav>
</div>
