<div class="dashboard-subnav">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large" uk-grid="">
            <div class="uk-width-expand@m uk-first-column">
                <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                    <div class="menu-tabs">
                        <ul class="tab">

                            {% url 'accounts:profile' as profile_url %}
                            {% url 'accounts:profile_password' as profile_password_url %}
                            {% url 'accounts:profile_email' as profile_email_url %}

                            <li class="{% if profile_url == request.path %}uk-active{% endif %}"><a
                                    href="{{ profile_url }}">Personal Info</a></li>
                            <li class="{% if profile_email_url == request.path %}uk-active{% endif %}">
                                <a href="{{ profile_email_url }}">Change Email</a></li>
                            <li class="{% if profile_password_url == request.path %}uk-active{% endif %}">
                                <a href="{{ profile_password_url }}">Change Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>