{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Profile
{% endblock %}

{% block container %}
    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large" uk-grid="">
                <div class="uk-width-expand@m uk-first-column">
                    <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-first-column">
                            <form method="post" class="uk-grid-small alter" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="uk-margin">
                                    <div uk-form-custom>
                                        <div class="uk-grid-medium uk-margin-top">
                                            <div class="uk-block">
                                                <h4>Personal Info</h4>
                                            </div>
                                        </div>

                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                            {% if user.profile.photo %}
                                                <img id="profilePhoto" class="uk-comment-avatar uk-float-left"
                                                     src="{{ user.profile.photo.url }}"
                                                     height="140" width="140" alt="">
                                            {% else %}
                                                <img id="profilePhoto" class="uk-comment-avatar uk-float-left"
                                                     src="{% static 'custom/general/img/avatar.png' %}"
                                                     height="140" width="140" alt="">
                                            {% endif %}

                                            <div class="js-upload uk-placeholder uk-text-center uk-float-left uk-margin-left">
                                                <span uk-icon="icon: cloud-upload"></span>
                                                <span class="uk-text-middle">Drop your photo here or</span>
                                                <div uk-form-custom>
                                                    <input type="file" name="photo" placeholder="Photo" class="uk-input"
                                                           id="id_photo">
                                                    <span class="uk-link">select one</span>
                                                </div>
                                            </div>

                                            {% for error in form.photo.errors %}
                                                <span class="uk-text-danger">{{ error }}</span>
                                            {% endfor %}

                                        </div>
                                    </div>

                                    {% for message in messages %}
                                        <br>
                                        <span class="uk-text-{{ message.tags }}">{{ message }}</span>
                                    {% endfor %}

                                    {% for error in form.non_field_errors %}
                                        <br>
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}

                                </div>

                                <div class="uk-width-1-1@s uk-grid-margin">
                                    {% render_field form.name class='uk-input' placeholder=form.name.label %}
                                    {% for error in form.name.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="uk-width-1-1@s uk-grid-margin">
                                    {% render_field form.surname class='uk-input' placeholder=form.surname.label %}
                                    {% for error in form.surname.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="uk-width-1-1@s uk-grid-margin">
                                    <button class="uk-button uk-button-default uk-width-1-1 uk-grid-margin">Update
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="application/javascript">
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#profilePhoto').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#id_photo").change(function () {
            readURL(this);
        });
    </script>
{% endblock %}
