{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Password
{% endblock %}

{% block container %}
    <div class="dashboard-subnav">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large" uk-grid="">
                <div class="uk-width-expand@m uk-first-column">
                    <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                        <div class="menu-tabs">
                            <ul class="tab">

                                {% url 'accounts:profile' as profile_url %}
                                {% url 'accounts:profile_password' as profile_password_url %}
                                {% url 'accounts:profile_email' as profile_email_url %}

                                <li class="{% if profile_url == request.path %}uk-active{% endif %}"><a
                                        href="{{ profile_url }}">Personal Info</a></li>
                                <li class="{% if profile_email_url == request.path %}uk-active{% endif %}">
                                    <a href="{{ profile_email_url }}">Change Email</a></li>
                                <li class="{% if profile_password_url == request.path %}uk-active{% endif %}">
                                    <a href="{{ profile_password_url }}">Change Password</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large" uk-grid="">
                <div class="uk-width-expand@m uk-first-column">
                    <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-first-column">
                            <form method="post" class="uk-grid-small alter" uk-grid>
                                {% csrf_token %}
                                <div class="uk-margin">
                                    <div class="uk-grid-medium uk-margin-top">
                                        <div class="uk-block">
                                            <h4>Change Email</h4>
                                        </div>
                                    </div>

                                    {% for message in messages %}
                                        <br>
                                        <span class="uk-text-{{ message.tags }}">{{ message }}</span>
                                    {% endfor %}

                                    {% for error in form.non_field_errors %}
                                        <br>
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="uk-width-1-1@s">
                                    {% render_field form.email class='uk-input' placeholder=form.email.label %}
                                    {% for error in form.email.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                        style="margin-left: 15px;">Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
