{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Profile
{% endblock %}

{% block container %}
    <div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large" uk-grid="">
                <div class="uk-width-expand@m uk-first-column">
                    <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-first-column">
                            <form method="post" class="uk-grid-small alter" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="uk-margin">
                                    <div uk-form-custom>
                                        <div class="uk-grid-medium uk-flex-middle info-profile" uk-grid>
                                            <div class="uk-width-auto">
                                                {% if user.profile.photo %}
                                                    <img class="uk-comment-avatar"
                                                         src="{{ user.profile.photo.url }}" width="80"
                                                         height="80" alt="">
                                                {% else %}
                                                    <img class="uk-comment-avatar"
                                                         src="{% static 'custom/general/img/avatar.png' %}" width="80"
                                                         height="80" alt="">
                                                {% endif %}

                                                <input type="file" name="photo" placeholder="Photo" class="uk-input"
                                                       id="id_photo"><a href="#">Upload {% if user.profile.photo %}
                                                new{% endif %} photo</a>
                                                {% for error in form.photo.errors %}
                                                    <span class="uk-text-danger">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <h4>Personal Info</h4>
                                    </div>

                                    {% for message in messages %}
                                        <br>
                                        <span class="uk-text-{{ message.tags }}">{{ message }}</span>
                                    {% endfor %}

                                    {% for error in form.non_field_errors %}
                                        <br>
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}

                                </div>

                                <div class="uk-width-1-1@s uk-grid-margin">
                                    {% render_field form.name class='uk-input' placeholder=form.name.label %}
                                    {% for error in form.name.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="uk-width-1-1@s uk-grid-margin">
                                    {% render_field form.surname class='uk-input' placeholder=form.surname.label %}
                                    {% for error in form.surname.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <button class="uk-button uk-button-default uk-width-1-1 uk-grid-margin uk-margin-small-bottom"
                                        style="margin-left: 15px;">Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <footer>
        <div class="uk-section-secondary uk-section uk-section-xsmall rodape">
            <div class="uk-container">
                <div class="uk-flex-middle uk-margin-remove-vertical uk-grid" uk-grid="">
                    <div class="uk-width-expand@s uk-first-column">
                        <div class="uk-margin uk-text-left@s uk-text-center uk-text-small">
                            © Brewday | All rights reserved.
                        </div>
                    </div>
                    <div class="uk-width-expand@s">
                        <div class="uk-margin uk-text-right@s uk-text-center">
                            <a href="#" uk-totop="" uk-scroll="" class="uk-totop uk-icon topo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
