{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Email
{% endblock %}

{% block container %}
    {% include 'accounts/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large" uk-grid="">
                <div class="uk-width-expand@m uk-first-column">
                    <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-first-column">
                            <form method="post" class="uk-grid-small alter" uk-grid>
                                {% csrf_token %}

                                {% include '_includes/app_title_section.html' with title='Preferences' %}

                                <div class="uk-width-1-1@s">
                                    {{ form.notified_by_storage }}<label for="">{{ form.notified_by_storage.label }}</label>
                                    <small>Check if you want to get notified if any ingredient reach a threshold</small>
                                </div>
                                <div class="uk-width-1-2@s">
                                    {% render_field form.volume_threshold class='uk-input' placeholder=form.volume_threshold.label %}
                                    {% for error in form.volume_threshold.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="uk-width-1-2">
                                    {% render_field form.weight_threshold class='uk-input' placeholder=form.weight_threshold.label %}
                                    {% for error in form.weight_threshold.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                        style="margin-left: 15px;">Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
