{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Email
{% endblock %}

{% block container %}
    {% include 'accounts/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large" uk-grid="">
                <div class="uk-width-expand@m uk-first-column">
                    <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-first-column">
                            <form method="post" class="uk-grid-small alter" uk-grid>
                                {% csrf_token %}
                                <div class="uk-margin">
                                    <div class="uk-grid-medium uk-margin-top">
                                        <div class="uk-block">
                                            <h4>Change Email</h4>
                                        </div>
                                    </div>

                                    {% include '_includes/message_box.html' %}
                                    {% include '_includes/form_error_box.html' %}
                                </div>
                                <div class="uk-width-1-1@s">
                                    {% render_field form.email class='uk-input' placeholder=form.email.label %}
                                    {% for error in form.email.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                                        style="margin-left: 15px;">Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
