{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Forgot Password
{% endblock %}

{% block custom_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'custom/css/login.css' %}"/>
{% endblock %}

{% block content %}
    <div class="uk-width-1-2@m">
        <div class="row">
            <div class="form-login">
                <div class="header-form">
                    <div class="logo">
                        <img src="{% static 'custom/general/img/logo.png' %}" alt="">
                    </div>
                    <h2>Forgot Password</h2>

                    {% for error in form.non_field_errors %}
                        <span class="uk-text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="uk-width-1-1@m">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    {% render_field form.email class='uk-input' placeholder=form.email.label %}
                                    {% for error in form.email.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">Recover password
                            </button>
                            <div class="create-account">
                                <h5>Don't have an account? <a href="{% url 'core:register' %}">Register!</a></h5>
                            </div>
                            <div class="remember-password">
                                Have an account? <a href="{% url 'core:login' %}">Login!</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m uk-width-1-2@s-hide">
        <div class="bg-login">
            <img src="{% static 'custom/general/img/bg-login.jpg' %}" alt="">
        </div>
    </div>
{% endblock %}