{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="uk-width-medium-1-2 uk-container-center"
         style="background: url({% static 'custom/img/bg-index.jpg' %}) top right no-repeat; background-attachment:fixed; ">
        <div class="info-landing-page uk-margin-large-top">
            <div class="logo-landing-page">
                <img src="{% static 'custom/img/logo-landing-page.png' %}" alt="Brewday">
            </div>
            <h2>Homebrewer? We help you to brew awesome beers!</h2>
            <h5>Login to access the Brewday App</h5>
            <a href="{% url 'core:login' %}"
               class="uk-button uk-button-default uk-width-1-4@m uk-margin-small-bottom">Login</a>
            <div class="create-account">
                <h5>Don't have an account? <a href="{% url 'core:register' %}">Register!</a></h5>
            </div>
        </div>
    </div>
{% endblock %}