{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Login
{% endblock %}

{% block custom_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'custom/css/login.css' %}"/>
{% endblock %}

{% block content %}
    <div class="uk-width-1-2@m">
        <div class="row">
            <div class="form-login">
                <div class="header-form">
                    <div class="logo">
                        <img src="{% static 'custom/general/img/logo.png' %}" alt="">
                    </div>
                    <h2>Login</h2>

                    {% include '_includes/message_box.html' %}
                    {% include '_includes/form_error_box.html' %}
                </div>
                <div class="uk-width-1-1@m">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    {% render_field form.username class='uk-input' placeholder=form.username.label %}
                                    {% for error in form.username.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    {% render_field form.password class='uk-input' placeholder=form.password.label %}
                                    {% for error in form.password.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <div class="uk-width-1-1@m">
                                    {% render_field form.keep_signed class='uk-checkbox' type='checkbox' %}
                                    <label for="{{ form.keep_signed.auto_id }}">Keep me logged in.</label>
                                </div>
                            </div>
                            <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">Login
                            </button>
                            <div class="create-account">
                                <h5>Don't have an account? <a href="{% url 'core:register' %}">Register!</a></h5>
                            </div>
                            <div class="remember-password">
                                <a href="{% url 'core:forgot_password' %}">Forgot your password?</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m uk-width-1-2@s-hide">
        <div class="bg-login">
            <img src="{% static 'custom/general/img/bg-login.jpg' %}" alt="">
        </div>
    </div>
{% endblock %}