{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Reset Password
{% endblock %}

{% block custom_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'custom/css/login.css' %}"/>
{% endblock %}

{% block content %}
    <div class="uk-width-1-2@m">
        <div class="row">
            <div class="form-login">
                <div class="header-form">
                    <div class="logo">
                        <img src="{% static 'custom/general/img/logo.png' %}" alt="">
                    </div>
                    <h2>Reset Password</h2>

                    {% include '_includes/message_box.html' %}
                    {% include '_includes/form_error_box.html' %}
                </div>
                <div class="uk-width-1-1@m">
                    <form method="post">
                        {% csrf_token %}

                        <fieldset class="uk-fieldset">
                            {% for field in form %}
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        {% render_field field class='uk-input' placeholder=field.label %}
                                        {% for error in field.errors %}
                                            <span class="uk-text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">Reset
                                Password
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m uk-width-1-2@s-hide">
        <div class="bg-login">
            <img src="{% static 'custom/general/img/bg-login.jpg' %}" alt="">
        </div>
    </div>
{% endblock %}