{% load widget_tweaks %}

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset.forms %}
        {% include 'ingredients/_form_fields.html' %}
    {% endfor %}

    {% include 'ingredients/_empty_formset.html' %}

    <div class="uk-grid uk-margin-small-top uk-margin-bottom">
        <div class="uk-width-1-4@s">
            <button class="uk-button uk-button-default uk-width-1-1 uk-grid-margin">Add (<span
                    id="numberOfIngredients">1</span>) Ingredients
            </button>
        </div>
    </div>
</form>
