{% load widget_tweaks %}

<div class="form-row uk-grid uk-margin-small-top" id="empty-row" hidden>
    <div class="uk-width-1-4@s ">
        {% render_field formset.empty_form.name class='uk-input' placeholder=formset.empty_form.name.label %}
        {% for error in formset.empty_form.name.errors %}
            <span class="uk-text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="uk-width-1-6@s">
        {% render_field formset.empty_form.ingredient_type class='uk-input' placeholder=formset.empty_form.ingredient_type.label %}
        {% for error in formset.empty_form.ingredient_type.errors %}
            <span class="uk-text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="uk-width-1-6@s">
        {% render_field formset.empty_form.volume_quantity class='uk-input' placeholder=formset.empty_form.volume_quantity.label %}
        {% for error in formset.empty_form.volume_quantity.errors %}
            <span class="uk-text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="uk-width-1-6@s">
        {% render_field formset.empty_form.weight_quantity class='uk-input' placeholder=formset.empty_form.weight_quantity.label %}
        {% for error in formset.empty_form.weight_quantity.errors %}
            <span class="uk-text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="uk-width-1-6@s">
        <a uk-icon="icon:minus-circle" class="uk-margin-top minus-new-user-ingredient-form"></a>
    </div>
</div>