{% load widget_tweaks %}

<div class="uk-grid uk-margin-small-top form-fields">
    <div class="uk-width-1-4@s ">
        {% render_field form.name class='uk-input' placeholder=form.name.label %}
        {% for error in form.name.errors %}
            <span class="uk-text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="uk-width-1-6@s">
        {% render_field form.ingredient_type class='uk-input select-ingredient-type' placeholder=form.ingredient_type.label %}
        {% for error in form.ingredient_type.errors %}
            <span class="uk-text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    {# If required to show or not in the edit form #}
    <div class="uk-width-1-6@s measured-by volume {% if not form.instance.volume_quantity %}uk-hidden{% endif %}">
        {% render_field form.volume_quantity class='uk-input' placeholder=form.volume_quantity.label %}
        {% for error in form.volume_quantity.errors %}
            <span class="uk-text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    {# If required to show or not in the edit form #}
    <div class="uk-width-1-6@s measured-by weight {% if not form.instance.weight_quantity %}uk-hidden{% endif %}">
        {% render_field form.weight_quantity class='uk-input' placeholder=form.weight_quantity.label %}
        {% for error in form.weight_quantity.errors %}
            <span class="uk-text-danger">{{ error }}</span>
        {% endfor %}
    </div>


    <div class="uk-width-1-6@s">
        <a uk-icon="icon:minus-circle"
           class="uk-margin-top minus-new-user-ingredient-form"></a>
    </div>
</div>