{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Edit Ingredient
{% endblock %}

{% block container %}
    {% include 'ingredients/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container uk-margin-large-bottom">

            {% include '_includes/app_title_section.html' with title='Edit Ingredient' %}

            <div class="uk-grid">
                <div class="uk-width-1-2">
                    <form method="post">
                        {% csrf_token %}

                        {% include 'ingredients/_form_fields.html' %}

                        <div class="uk-width-1-2@s uk-grid-margin uk-margin-bottom">
                            <button class="uk-button uk-button-default uk-width-1-1 uk-grid-margin">Update Ingredient
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
