{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | My Storage
{% endblock %}

{% block container %}
    {% include 'ingredients/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container uk-margin-large-bottom">

            {% include '_includes/app_title_section.html' with title='My Storage' %}

            {% include 'ingredients/_list.html' %}
        </div>
    </div>

{% endblock %}


