{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | New Recipe
{% endblock %}

{% block container %}
    <div class="dashboard-subnav">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large" uk-grid="">
                <div class="uk-width-expand@m uk-first-column">
                    <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                        <div class="menu-tabs">
                            <ul class="tab">

                                {% url 'ingredients:my' as my_ingredients_url %}
                                {% url 'ingredients:new' as new_ingredient %}

                                <li class="{% if my_ingredients_url == request.path %}uk-active{% endif %}"><a
                                        href="{{ my_ingredients_url }}">My Ingredients</a></li>
                                <li class="{% if new_ingredient == request.path %}uk-active{% endif %}"><a
                                        href="{{ new_ingredient }}">New Ingredient</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container uk-margin-large-bottom">

            <div class="uk-grid-medium uk-margin-top">
                <div class="uk-block">
                    <h4>My Ingredients</h4>
                </div>
            </div>

            <div class="uk-grid">
                <div class="uk-width-1-2">
                    <table class="uk-table uk-table-divider">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Qty</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if not object_list %}
                            <tr>
                                <td class="uk-text-warning" colspan="3">You have not added any ingredient to your storage. <a
                                        href="{% url 'ingredients:new' %}">Click here to start adding!</a></td>
                            </tr>
                        {% endif %}

                        {% for ing in object_list %}
                            <tr>
                                <td>{{ ing.name }}</td>
                                <td>{{ ing.quantity }}{{ ing.unit }}</td>
                                <td>
                                    <a uk-icon="icon:pencil" href="{% url 'ingredients:edit' ing.id %}" ></a>
                                </td>
                                <td>
                                    <form class="card-tool delete-task-form" action="{% url 'ingredients:delete' ing.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="close text-danger" uk-icon="icon:trash"></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


