{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | New Ingredient
{% endblock %}

{% block container %}
    {% include 'ingredients/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container uk-margin-large-bottom">
            <div class="uk-grid-medium uk-margin-top">
                <div class="uk-block">
                    <h4>New Ingredient <a uk-icon="icon:plus-circle"
                                          class="uk-margin-top plus-new-user-ingredient-form"></a></h4>
                </div>

                {% include '_includes/message_box.html' %}
                {% include '_includes/form_error_box.html' %}
            </div>

            <div class="uk-grid">
                <div class="uk-width-1-1">
                    {% include 'ingredients/_add_form.html' %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'custom/js/more-ingredients.js' %}"></script>
{% endblock %}