{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Edit Recipe
{% endblock %}

{% block container %}
    {% include 'recipes/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">

        <div class="uk-container uk-margin-large-bottom">
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}

                {% include '_includes/app_title_section.html' with title='Edit Recipe' %}


                <div class="uk-grid">
                    <div class="uk-width-1-2">

                        <div class="uk-grid">
                            <div class="uk-width-1-1@s">
                                <label for="{{ form.title.id_for_label }}">{{ form.title.label }} <span
                                        class="uk-text-danger">*</span></label>
                                {% render_field form.title class='uk-input' placeholder=form.title.label %}
                                {% for error in form.title.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-grid">
                            <div class="uk-width-1-1@s">
                                <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                                {% render_field form.description class='uk-input' placeholder=form.description.label %}
                                {% for error in form.description.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-grid">
                            <div class="uk-width-1-1@s">
                                <label for="{{ form.expected_production.id_for_label }}">{{ form.expected_production.label }}
                                    (Litres)<span
                                            class="uk-text-danger">*</span></label>
                                {% render_field form.expected_production class='uk-input' placeholder=form.expected_production.label %}
                                {% for error in form.expected_production.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-grid">
                            <p>Ingredients <span class="uk-text-danger">*</span> <a uk-icon="icon:plus-circle"
                                                                                    class="plus-new-user-ingredient-form"></a>
                            </p>
                        </div>

                        {% for form in formset.forms %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            <div class="uk-grid uk-margin-small-top">

                                <div class="uk-width-1-4@s ">
                                    {{ form.id }}
                                    {% render_field form.name class='uk-input' placeholder=form.name.label %}
                                    {% for error in form.name.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="uk-width-1-6@s">
                                    {% render_field form.ingredient_type class='uk-input' placeholder=form.ingredient_type.label %}
                                    {% for error in form.ingredient_type.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="uk-width-1-6@s">
                                    {% render_field form.volume_quantity class='uk-input' placeholder=form.volume_quantity.label %}
                                    {% for error in form.volume_quantity.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="uk-width-1-6@s">
                                    {% render_field form.weight_quantity class='uk-input' placeholder=form.weight_quantity.label %}
                                    {% for error in form.weight_quantity.errors %}
                                        <span class="uk-text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-row uk-grid uk-margin-small-top" id="empty-row" hidden>
                            <div class="uk-width-1-2@s ">
                                {% render_field formset.empty_form.name class='uk-input' placeholder=formset.empty_form.name.label %}
                                {% for error in formset.empty_form.name.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="uk-width-1-6@s">
                                {% render_field formset.empty_form.quantity class='uk-input' placeholder=formset.empty_form.quantity.label %}
                                {% for error in formset.empty_form.quantity.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-6@s">
                                {% render_field formset.empty_form.unit class='uk-input' placeholder=formset.empty_form.unit.label %}
                                {% for error in formset.empty_form.unit.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-6@s">
                                <a uk-icon="icon:minus-circle" class="uk-margin-top minus-new-user-ingredient-form"></a>
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-1-2">
                        <div class="uk-grid">
                            <div class="uk-width-1-5@s">
                                <label for="{{ form.og.id_for_label }}">{{ form.og.label }}
                                    <a uk-icon="icon:info" uk-toggle="target: #modal-og"></a>
                                </label>
                                {% render_field form.og class='uk-input' data-mask="0.000" placeholder=form.og.label %}
                                {% for error in form.og.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-5@s">
                                <label for="{{ form.fg.id_for_label }}">{{ form.fg.label }}
                                    <a uk-icon="icon:info" uk-toggle="target: #modal-fg"></a>
                                </label>
                                {% render_field form.fg class='uk-input' data-mask="0.000" placeholder=form.fg.label %}
                                {% for error in form.fg.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-5@s">
                                <label for="{{ form.abv.id_for_label }}">{{ form.abv.label }}
                                    <a uk-icon="icon:info" uk-toggle="target: #modal-abv"></a>
                                </label>
                                {% render_field form.abv class='uk-input' data-mask="00.00" mask-reverse="true" placeholder=form.abv.label %}
                                {% for error in form.abv.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-6@s">
                                <label for="{{ form.ibu.id_for_label }}">{{ form.ibu.label }}
                                    <a uk-icon="icon:info" uk-toggle="target: #modal-ibu"></a>
                                </label>
                                {% render_field form.ibu class='uk-input' placeholder=form.ibu.label %}
                                {% for error in form.ibu.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="uk-width-1-6@s">
                                <label for="{{ form.srm.id_for_label }}">{{ form.srm.label }}
                                    <a uk-icon="icon:info" uk-toggle="target: #modal-srm"></a>
                                </label>
                                {% render_field form.srm class='uk-input' placeholder=form.srm.label %}
                                {% for error in form.srm.errors %}
                                    <span class="uk-text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-width-1-1@s uk-grid-margin">
                            <label for="{{ form.steps.id_for_label }}">{{ form.steps.label }} <span
                                    class="uk-text-danger">*</span></label>
                            {% render_field form.steps class='uk-input' placeholder=form.steps.label %}
                            {% for error in form.steps.errors %}
                                <span class="uk-text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="uk-width-1-1@s uk-grid-margin">
                            <label for="{{ form.observations.id_for_label }}">{{ form.observations.label }}</label>
                            {% render_field form.observations class='uk-input' placeholder=form.observations.label %}
                            {% for error in form.observations.errors %}
                                <span class="uk-text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="uk-width-1-1@s uk-grid-margin uk-margin-bottom">
                            <button class="uk-button uk-button-default uk-width-1-1 uk-grid-margin">Update Recipe
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra %}
    {% include 'recipes/_beer_characteristics_modal.html' %}
    {{ block.super }}
{% endblock %}

{% block custom_js %}
    <script src="{% static 'custom/js/more-ingredients.js' %}"></script>
{% endblock %}