{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | New Recipe
{% endblock %}

{% block container %}
    <div class="dashboard-subnav">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large" uk-grid="">
                <div class="uk-width-expand@m uk-first-column">
                    <div class="uk-child-width-1-2@m uk-grid uk-grid-stack" uk-grid="">
                        <div class="menu-tabs">
                            <ul class="tab">

                                {% url 'recipes:my_recipes' as my_recipes_url %}
                                {% url 'recipes:new' as new_recipe_url %}

                                <li class="{% if my_recipes_url == request.path %}uk-active{% endif %}"><a
                                        href="{{ my_recipes_url }}">My Recipes</a></li>
                                <li class="{% if new_recipe_url == request.path %}uk-active{% endif %}"><a
                                        href="{{ new_recipe_url }}">New Recipe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true" style="box-sizing: border-box;">
        <div class="uk-container uk-margin-large-bottom">

            <div class="uk-grid-medium uk-margin-top">
                <div class="uk-block">
                    <h4>My Recipes</h4>
                </div>
            </div>

            <div class="uk-grid-medium uk-margin-top uk-margin-medium-bottom">
                <div class="uk-block">
                    <form method="GET" class="uk-search uk-search-default uk-width-1-3">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" value="{{ request.GET.search }}" name="search" type="text"
                               placeholder="Search a recipe...">
                    </form>
                </div>
            </div>

            <form method="post">
                <div class="uk-grid">
                    {% if not recipes and not request.GET.search %}
                        <div class="uk-width-1-3 uk-margin-bottom">
                            <div class="uk-alert uk-alert-warning">You have not created recipes. <a
                                    href="{% url 'recipes:new' %}">Create one!</a></div>
                        </div>
                    {% endif %}

                    {% if not recipes and request.GET.search %}
                        <div class="uk-width-1-2 uk-margin-bottom">
                            <div class="uk-alert uk-alert-danger">We have not found any recipe that match your search.
                            </div>
                        </div>
                    {% endif %}

                    {% for recipe in recipes %}
                        <div class="uk-width-1-3 uk-margin-bottom recipe-card">
                            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                                <a href="{% url 'recipes:show' recipe.id %}" class="recipe-detail-anchor hidden"></a>
                                <h3 class="uk-card-title recipe-card-title">{{ recipe.title }}</h3>
                                <hr>

                                <p>OG: {% if recipe.og %} {{ recipe.og }} {% else %} - {% endif %} FG: {% if recipe.fg %} {{ recipe.fg }} {% else %}
                                - {% endif %} IBU: {% if recipe.ibu %} {{ recipe.ibu }} {% else %}
                                - {% endif %} SRM: {% if recipe.srm %} {{ recipe.srm }} {% else %}
                                - {% endif %} ABV: {% if recipe.abv %} {{ recipe.abv }}% {% else %}
                                - {% endif %} </p>

                                <p>Ingredients</p>
                                <ul class="uk-list uk-text-warning uk-text-meta">
                                    {% for ing in recipe.recipeingredient_set.all %}
                                        <li>{{ ing }}</li>
                                        <li>{{ ing }}</li>
                                        <li>{{ ing }}</li>
                                    {% endfor %}
                                </ul>

                                <p><b>Steps</b></p>
                                <p class="uk-text-meta uk-text-warning">{{ recipe.steps|truncatewords:30 }}</p>

                                <p><b>Observations</b></p>
                                {% if recipe.observations %}
                                    <p class="uk-text-meta uk-text-warning">{{ recipe.observations|truncatewords:20 }}</p>
                                {% else %}
                                    <p class="uk-text-meta uk-text-warning">-</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                </div>

                {% if recipes %}
{#                    <div class="uk-grid-medium uk-margin-top uk-margin-medium-bottom">#}
{#                        <ul class="uk-pagination uk-flex-center" uk-margin="">#}
{#                            <li class="uk-first-column"><a href="#"><span uk-pagination-previous=""#}
{#                                                                          class="uk-pagination-previous uk-icon"><svg#}
{#                                    width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"#}
{#                                    ratio="1"><polyline#}
{#                                    fill="none" stroke="#000" stroke-width="1.2"#}
{#                                    points="6 1 1 6 6 11"></polyline></svg></span></a></li>#}
{#                            <li><a href="#">1</a></li>#}
{#                            <li class="uk-disabled"><span>...</span></li>#}
{#                            <li><a href="#">5</a></li>#}
{#                            <li><a href="#">6</a></li>#}
{#                            <li class="uk-active"><span>7</span></li>#}
{#                            <li><a href="#">8</a></li>#}
{#                            <li><a href="#"><span uk-pagination-next="" class="uk-pagination-next uk-icon"><svg#}
{#                                    width="7"#}
{#                                    height="12"#}
{#                                    viewBox="0 0 7 12"#}
{#                                    xmlns="http://www.w3.org/2000/svg"#}
{#                                    ratio="1"><polyline#}
{#                                    fill="none" stroke="#000" stroke-width="1.2"#}
{#                                    points="1 1 6 6 1 11"></polyline></svg></span></a></li>#}
{#                        </ul>#}
{#                    </div>#}
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script>
        $(document).ready(function () {
            $('.recipe-card').on('click', function () {
                var recipeUrl = $(this).find('.recipe-detail-anchor').attr('href');
                window.location = recipeUrl;
            });
        });
    </script>
{% endblock %}
