{% extends 'app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Recipe
{% endblock %}

{% block container %}
    {% include 'recipes/_subnav.html' %}

    <div id="tm-main" class="tm-main uk-section-default" uk-height-viewport="expand: true"
         style="box-sizing: border-box;">
        <div class="uk-container uk-margin-large-bottom">

            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-2">
                    <article class="uk-article uk-card uk-card-default uk-card-hover uk-card-body article-recipe">
                        <a uk-icon="icon:pencil" class="recipe-action-edit"
                           href="{% url 'recipes:edit' recipe.id %}"></a>

                        <form class="card-tool recipe-action-delete" action="{% url 'recipes:delete' recipe.pk %}"
                              method="post">
                            {% csrf_token %}
                            <button type="submit" class="close text-danger" uk-icon="icon:trash"></button>
                        </form>

                        <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ object.title }}</a></h1>
                        <p class="uk-article-meta">Created on {{ recipe.created|date:"M d, Y" }}</p>

                        {% if recipe.description %}
                            {{ recipe.description }}
                            <hr>
                        {% endif %}

                        <h4>Expected Production:</h4>
                        <p class="uk-article-meta">{{ recipe.expected_production }}</p>

                        <h4>Characteristics:</h4>
                        <ul class="uk-list uk-list-inline">
                            <li class="uk-margin-medium-right">OG: {% if recipe.og %} {{ recipe.og }} {% else %}
                                - {% endif %}</li>
                            <li class="uk-margin-medium-right">FG: {% if recipe.fg %} {{ recipe.fg }} {% else %}
                                - {% endif %}</li>
                            <li class="uk-margin-medium-right">IBU: {% if recipe.ibu %} {{ recipe.ibu }} {% else %}
                                - {% endif %}</li>
                            <li class="uk-margin-medium-right">SRM: {% if recipe.srm %} {{ recipe.srm }} {% else %}
                                - {% endif %}</li>
                            <li class="uk-margin-medium-right">ABV: {% if recipe.abv %} {{ recipe.abv }} {% else %}
                                - {% endif %}</li>
                        </ul>

                        <h4>Ingredients:</h4>
                        <ul class="uk-list">
                            {% for ing in recipe.recipeingredient_set.all %}
                                <li>{{ ing }}</li>
                            {% endfor %}
                        </ul>

                        <h4>Steps:</h4>
                        <p>{{ object.steps }}</p>

                        <h4>Observations:</h4>
                        {% if object.observations %}
                            <p>{{ object.observations }}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}

                    </article>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

